<%- include("partial/header")%>
<div class="container">
	<div class="row">
		<h1 style="text-align:center">Create a new doctor</h1>
		<div style="width:30%; margin:25px auto">
			<form action="/doctors" method="post">
				<div class="form-group">
					<input style="display:inline" class="form-control" type="text" name="name" placeholder="Enter the name here" >
				</div>
				
					<div class="form-group">
				<input class="form-control" type="text" name="image" placeholder="insert the image url" >
						</div>
				
				<div class="form-group">
					<input class="form-control" type="number" name="did" placeholder="Doctor ID">
				</div>
				
				<div class="form-group">
					<input class="form-control" type="text" name="sex" placeholder="Sex">
				</div>
				
				<div class="form-group">
					<input class="form-control" type="text" name="qualification" 			 placeholder="Qualification">
				</div>
				
				<div class="form-group">
					<input class="form-control" type="number" name="contactNumber" placeholder="Contact Number">
				</div>
				
				<div class="form-group">
					<input class="form-control" type="number" name="salary" placeholder="salary">
				</div>
				
				<div class="form-group">
				<button class="btn btn-lg btn-default btn-block btn-primary">submit</button>
						</div>
				
			</form>
				<a style=" color:rgb(12, 86, 120);"href="/doctors">Back</a>
		</div>
		
	</div>
</div>


<%- include("partial/footer")%>